body {
    
    html[data-theme="light"] body {
      background-color: var(--background-primary, #fafafa);
      color: var(--text-normal, #222);
    }

    html[data-theme="dark"] body {
      background-color: var(--background-primary, #1b1b1b);
      color: var(--text-normal, #eaeaea);
    }

}
